.parent {
	display:inline-block;
	margin: 0 auto;
	padding-left: 20%;
}
.author {
	float: right;
	padding-right: 20%;
}

.imageholder {
	width: 1400px;
}

.parentimage {
	display: inline-block;
	width: 30%;
	min-width: 10%;
	max-width: 100%;
	margin: 0 auto;
	margin-left: 4%;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
}

.authorimage {
	float: right;
	width: 22%;
	margin-right: -14%;
	min-width: 10%;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
}

.signupwrapper {
	text-align: center;
}

.signup {
	margin-top: 2%;
}
.signupMessage {
	color: red;
	text-align: center;
}